* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header { 
    padding-top: 32px;
    height: calc(120px +32px);
}

header div {
    width: 120px;
    margin: auto;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    display: flex;
    padding: 4px;
    transition: transform .3s;
}

header div img {
    width: 100%;
    border-radius: 50%;

}

ul {
    list-style: none;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 34px auto; 

    display: grid;
    gap: 22px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
    transition: transform .3s;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

section ul li {
    transition: transform .3s;
    
}

section ul li:hover {
    transform: scale(1.1);
}

.game-list img {
    width: 90px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0.2px #9472fc57;
}

.channel-list img{
    width: 70px;
    border-radius: 50%;
    border: 1px solid #9472fc57;
    box-shadow: 0px 0px 3px 0.2px #9472fc57;
}

/* animation */

header div:hover {
    transform: scale(1.1);
}

li img:hover{
    box-shadow: 0px 0px 6px 0.4px #9472fc57;
}

main section {
    animation: fromBottom .7s backwards;
}

header div {
    animation: fromTop .8s .1s backwards;
}

main section:nth-child(1) {
    animation-delay: .2s;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .6s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
